@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Oswald:wght@200..700&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+25+Charted&display=swap');
a{
text-decoration: none;
color:cyan;
}
h1.jaro{
  text-align: center;
  font-family: jaro;
  color:rgba(0, 255, 255, 0.76);
}
h2{
  font-family: Oswald;
  text-align: center;
  color:cyan;
}
a:hover{
  text-decoration: underline;
}
ul{
  color:chartreuse;
}
li{
  border: 1px solid black;
  border-radius: 6px;
  width: 70px;
  text-align: center;
  background-color: rgba(0, 0, 139, 0.616);
  margin-bottom: 5px;
  padding: 3px;
}
div{
  border: 1px solid black;
  border-radius: 8px;
}
main{
  background-image: url("background-blue-photo-image.jpg");
  background-size: cover;
  padding: 40px;
}
.botao2{
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(183, 0, 255);
  background-color: rgb(52, 160, 255);
  padding: 2px;
  width: 70px;
}
.botao7{
  margin: auto;
  justify-content: center;
  width: 850px;
 background-image: url("rgb-azu-5.jpg");
  background-size: cover;
}
.botao8{
  margin: auto;
  justify-content: center;
  width: 850px;
background-image: url("rgb-azul-1.jpg");
  background-size: cover;
}
.botao9{
  margin: auto;
  justify-content: center;
  width: 850px;
  background-image: url("rgb-azul-2.jpg");
  background-size: cover;
}
.botao10{
  margin: auto;
  justify-content: center;
  width: 850px;
  background-image: url("rgb-azul-6.jpg");
  background-size: cover;
}
.botao11{
  justify-content: center;
  margin: auto;
  width: 80px;
  display: flex;
  border: cyan;
}


