@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

a{
text-decoration: none;
color:cyan;
}
h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:rgba(0, 255, 255, 0.692);
}
h2{
  font-family: RobotoSlab;
  text-align: center;
  color:cyan;
}
a:hover{
  text-decoration: underline;
}
ul{
  color:blueviolet;
}
li{
  border: 1px solid black;
  border-radius: 6px;
  width: 70px;
  text-align: center;
  background-color: rgba(0, 0, 139, 0.616);
  margin-bottom: 5px;
  padding: 3px;
}
div{
  border: 1px solid black;
  border-radius: 8px;
}
main{
  background-image: url("rgb-de-fundo-azul.jpg");
  background-size: cover;
  padding: 40px;
}
.botao2{
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(183, 0, 255);
  background-color: rgb(52, 160, 255);
  padding: 2px;
  width: 70px;
}
.botao7{
 background-image: url("rgb-azu-5.jpg");
  background-size: cover;
}
.botao8{
background-image: url("rgb-azul-1.jpg");
  background-size: cover;
}
.botao9{
  background-image: url("rgb-azul-2.jpg");
  background-size: cover;
}
.botao10{
  background-image: url("rgb-azul-6.jpg");
  background-size: cover;
}


