@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

main{
  background-image: url("rgb-de-fundo-vermelho-2-ivertida.jpg");
  background-size: cover;
  padding: 40px;
}
a {
  text-decoration: none;
  color: rgba(255, 217, 0, 0.774);
  border: 1px solid darkred;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.699);
}
h1{
  color: rgba(255, 217, 0, 0.836);
}
h2{
  font-family: RobotoSlab;
  text-align: center;
  color: gold;
}
a:hover {
  text-decoration: underline;
}
ul {
  color: rgb(0, 136, 255);
}

li {
  padding: 0.25em;
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.botao {
  border: 1px solid rgba(0, 0, 153, 0.753);
  border-radius: 5px;
  color: rgba(255, 217, 0, 0.774);
  background-color: rgba(117, 117, 252, 0.753);
  padding: 2px;
}
.botao3 {
  color: rgb(0, 136, 255);
}
div {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-radius: 8px;
  background-image: url("rgb-vermelho-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2em;
}
.botao4 {
  background-image: url("rgb-vermelho-3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.botao5 {
  background-image: url("rgb-vermelho-2.jpg");
}
.botao6 {
  background-image: url("rgb-vermelho-6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

